{% include 'main.html' %}
	<div class="center-block">
		<form action="/login/google-drive" class="form" method="POST">
			<div class="form-group">
				<label for="usr">Username:</label>
				<input type="text" class="form-control" id="usr" name="user">
			</div>
			<div class="form-group">
				<label for="pwd">Password:</label>
				<input type="password" class="form-control" id="pwd" name="password">
			</div>
			<div class="checkbox">
				<label><input type="checkbox"> Remember</label>
			</div>
			<button type="submit" class="btn btn-default">Log In!</button>
		</form>
	</div>
</body>
