{% include 'main.html' %}
	<div class="center-block">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="btn-group">
					<button data-toggle="collapse" data-target="#dropbox" class="btn btn-default">Dropbox</button>
					<button data-toggle="collapse" data-target="#google-drive" class="btn btn-default">Google Drive</button>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="collapse" id="dropbox">
					<p>Lorem Ipsum Dropbox Sit Amet</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="collapse" id="google-drive">
					<p>Google Ipsum Drive Sit Amet</p>
				</div>
			</div>
		</div>
	</div>
</body>
